<table class="table table-sm table-striped table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Photo</th>
      <th scope="col">Email</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Type</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
    <%if (Array.isArray(result)) { for (rec of result) { %> <% %>
    <tr class="record">
      <th class="th-user-id"><%= rec.id%></th>
      <td class="td-user-photo"><% if(rec.photo){ const src = rec.photo;; %> <img src="<%=src%>" alt="" /> <% } %></td>
      <td class="td-user-email"><%= rec.email%></td>
      <td contenteditable="true" class="td-user-fn"><%= rec.firstname%></td>
      <td contenteditable="true" class="td-user-ln"><%= rec.lastname%></td>
      <td class="td-user-type"><%= rec.user_type%></td>
      <td class="td-user-created"><%= rec.created%></td>
      <td class="td-user-updated"><%= rec.updated%></td>
      <td>
        <a href="/users/create" class="btn btn-primary btn-create">Create</a>
      </td>
      <td>
        <button class="btn btn-primary btn-update">Update</button>
      </td>
      <td>
        <button class="btn btn-secondary btn-delete">Delete</button>
      </td>
    </tr>
    <% }} else { %>
    <p><%-result%></p>
    <%}%>
  </tbody>
</table>
