<div class="user-details-container">
  <div class="user-details-photo">
    <% if (result.photo) { %>
    <img src="<%= result.photo %>" alt="" />
    <% } else { %>
    <i class="fa-solid fa-user-tie avatar-detail"></i>
    <%} %>
  </div>
  <div class="user-details-data">
    <div class="user-details-fullname">
      <p class="user-details-firstname"><%= result.firstname %></p>
      <p class="user-details-lastname"><%= result.lastname %></p>
    </div>
    <div class="user-details-email"><p><%= result.email %></p></div>
    <div class="user-details-type">
      <p class="user-details-usertype">usertype: <%= result.user_type %></p>
    </div>
    <div class="user-details-timestamp">
      <p class="user-details-created">created: <span><%= result.formattedCreated %></span></p>
      <p class="user-details-updated">updated: <span><%= result.formattedUpdated %></span></p>
    </div>
  </div>
</div>
