<table class="tbl-user">
  <thead>
    <tr>
      <th>ID</th>
      <th>Photo</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Type</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%if (Array.isArray(result)) { for (rec of result) { %> <% %>
    <tr class="record">
      <th class="th-user-id"><%= rec.id%></th>
      <td class="td-user-photo"><% if(rec.photo){ const src = rec.photo; %> <img src="<%=src%>" alt="" /> <% } %></td>
      <td class="td-user-email"><%= rec.email%></td>
      <td contenteditable="true" class="td-user-fn"><%= rec.firstname%></td>
      <td contenteditable="true" class="td-user-ln"><%= rec.lastname%></td>
      <td class="td-user-type"><%= rec.user_type%></td>
      <td class="td-user-created"><%= rec.created%></td>
      <td class="td-user-updated"><%= rec.updated%></td>
      <td>
        <a href="/users/create" class="btn btn-create">Create</a>
      </td>
      <td>
        <button class="btn btn-update">Update</button>
      </td>
      <td>
        <button class="btn btn-delete">Delete</button>
      </td>
    </tr>
    <% }} else { %>
    <p><%-result%></p>
    <%}%>
  </tbody>
</table>

<!-- Mobile View -->
<div class="mobile-view">
  <% if (Array.isArray(result)) { for (rec of result) { %>
  <div class="mb-user-card">
    <a href="/test">
      <div class="mb-user-card-photo-container">
        <div class="mb-user-card-photo"><% if (rec.photo) { const src = rec.photo; %><img src="<%=src%>" alt="" /> <% } %></div>
      </div>
      <div class="mb-user-card-data">
        <div class="mb-user-fullname">
          <div class="mb-user-firstname"><p><%=rec.firstname%></p></div>
          <div class="mb-user-lastname"><p><%=rec.lastname%></p></div>
        </div>
        <div class="mb-user-email"><p><%=rec.email%></p></div>
      </div>
    </a>
  </div>
  <%} }%>
</div>
